<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>938819068750-sus3m4evsda57881p3bs10pjt3q3ugn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938819068750-sus3m4evsda57881p3bs10pjt3q3ugn1</string>
	<key>API_KEY</key>
	<string>AIzaSyAjRnWwsQN6zJdKKUuwF2DY1yUT318SQCA</string>
	<key>GCM_SENDER_ID</key>
	<string>938819068750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.sogang.www.Pinture</string>
	<key>PROJECT_ID</key>
	<string>pinture-203616</string>
	<key>STORAGE_BUCKET</key>
	<string>pinture-203616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:938819068750:ios:5d401a37227e5109</string>
	<key>DATABASE_URL</key>
	<string>https://pinture-203616.firebaseio.com</string>
</dict>
</plist>
